/* GRAPHIC CODE */

.scroll-container {
    width: 100%;
    position: relative;
}

.scroll-text {
    width: 50%;
}

.scroll-text .trigger {
    padding: 0;
    margin: 0;
}

.scroll-map {
    position: absolute;
    top: 0;
    margin-left: 50%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100vh;
    width:50%;
    z-index:100;
}

#map {
    height:100%;
    width:100%;
    z-index:1000;
}

.scroll-map.is-fixed {
    position: fixed;
}

.scroll-map.is-bottom {
    top: auto;
    bottom: 0;
}

.library {
    width:100%;
}

@media only screen and (max-width: 600px) {
    .scroll-map {
        position:relative;
        top:0;
        height:33vh;
        width:100%;
        margin-left:0;
        margin-right:0;
    }
    .scroll-map.is-fixed,
    .scroll-map.is-bottom {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;
        top:0;
    }

    .scroll-text {
        padding-top:15px;
    }
}