/* GRAPHIC CODE */

.graphic {
    width: 100%;
    position: relative;
}

.graphic__prose {
    width: 50%;
}

.graphic__prose .trigger {
    padding: 0;
    margin: 0;
}

.graphic__vis {
    position: absolute;
    top: 0;
    margin-left: 50%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100vh;
    width:50%;
}

#map {
    height:100vh;
    width:100%;
}

.graphic__vis.is-fixed {
    position: fixed;
}

.graphic__vis.is-bottom {
    top: auto;
    bottom: 0;
}

.library {
    width:100%;
}